.contenedor-contacto{
    background-color:#d83434;
    width: 60%;
    height: 180px;
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 0%);
    border: 20px;

}