.contenedor-contacto{
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    /*background-color:#d83434;*/
    position: relative;
    /*flex-wrap: 0 0 calc(50% -2rem);*/
    flex-direction: row;

} 

.formulario{
background-color: rgb(240, 208, 208);
border-radius: 15px;
margin: 30px;
padding: 3%;
border: 30px;

} 

.mapa {
    margin: 30px;
    padding: 3%;
    width: 50em; min-width: 300px;

}

@media (max-width: 450px) {
    align-item
}