body{
    margin: 0;
    padding: 0;
}

.contenedor-contacto{
    background-image: url(../Images/fondo-contacto.jpg);
    justify-content: space-around;
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-flow: row wrap;

} 

.formulario{
background-color: rgba(243, 235, 233, 0.7);
border-radius: 15px;
align-items: center;
margin: auto;
padding: 3%;
border: 30px; 
max-width: 320px;

} 

.contenedor-mapa{
    box-sizing: border-box;
    max-width: 50%; min-width: 320px;
    justify-content: space-around;

}

.mapa {

    width: 100%; min-width: 300px;

}

@media screen and (max-width: 767px) {
    .contenedor-contacto{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 20px;

    }

    

    .contenedor-mapa {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
       padding-bottom: 20px;
    }


}

@media screen and (min-width: 768px) and (max-width: 1279px) {
    .contenedor-contacto{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 30px;

    }
    .contenedor-mapa {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
       padding-bottom: 30px;
        
    }
    .mapa {
        padding-left: 10px;
    }
}

@media screen and (min-width: 1280px) {
    .contenedor-contacto{
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 50px;

    }
    .contenedor-mapa {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 50px;
        
    }
}