/* Estilos para el encabezado */
.recetas-argentinas {
    font-size: 48px;
    color: #333;
    text-align: center;
    margin: 20px 0;
}

@media screen and (min-width: 320px){
    .boton-whatsapp{
        position: fixed;
        z-index: 100;
        width: 150px;
        right: -45px;
        bottom: 2px;
        
        }
}

@media screen and (min-width: 480px){
    .boton-whatsapp{
        position: fixed;
        z-index: 100;
        width: 150px;
        right: -45px;
        bottom: 2px;
        
        }
}


@media screen and (min-width: 1023px){
    .boton-whatsapp{
        position: fixed;
        z-index: 100;
        width: 150px;
        right: 2px;
        bottom: 10px;
        
        }

    .boton-whatsapp:hover{
        position: fixed;
        
        width: 170px;
        right: -20px;
        bottom: 2px;
        transition: 200ms;
        
        }


}


.nota{
    display: flex;
    font-size: 25px;
    margin-left: 20px;
}
    
.recetas-tipicas{
    display: block;
    float: left;
    font-size: 25px;
    margin: 10px;
    

}
article{
display: block;
float: right;
font-size: 21px;
margin: 10px;
}

img{
    display: flex;
    float: left;
    width: 50%;
    height: auto;
    margin: 10px;

   
}

.recetas{
    display: block;
    justify-content: space-around;
    width: 19%;
    height:100%;
    font-size: 20px;   
}

.imagen{
    float: right;
}
    .preparacion{
        font-size: 20px;
        
    }
    #volver{
        font-size: 25px;
    }